[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "dependencies/diligence"]
	path = macos/dependencies/diligence
	url = https://github.com/inseven/diligence.git
[submodule "dependencies/plptools"]
	path = macos/dependencies/plptools/plptools
	url = https://github.com/jbmorley/plptools.git
[submodule "dependencies/interact"]
	path = macos/dependencies/interact
	url = https://github.com/inseven/interact.git
[submodule "scripts/Sparkle"]
	path = scripts/Sparkle
	url = https://github.com/sparkle-project/Sparkle
[submodule "dependencies/opolua/opolua"]
	path = macos/dependencies/opolua
	url = https://github.com/inseven/opolua.git
[submodule "docs/_theme"]
	path = docs/_theme
	url = https://github.com/jbmorley/showcase-theme.git
