[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "dependencies/diligence"]
	path = dependencies/diligence
	url = git@github.com:inseven/diligence.git
[submodule "dependencies/plptools"]
	path = dependencies/plptools/plptools
	url = git@github.com:jbmorley/plptools.git
[submodule "dependencies/interact"]
	path = dependencies/interact
	url = https://github.com/inseven/interact.git
[submodule "scripts/Sparkle"]
	path = scripts/Sparkle
	url = https://github.com/sparkle-project/Sparkle
