<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLName</key>
			<string>uk.co.jbmorley.reconnect.types.url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>x-reconnect</string>
			</array>
		</dict>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>SUPublicEDKey</key>
	<string>3EjNyhaYtMraXwX9DnIazXbJe4worl2Bktkt8VrZXZk=</string>
	<key>SUFeedURL</key>
	<string>https://sparkle.jbmorley.co.uk/reconnect/appcast.xml</string>
</dict>
</plist>
